<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" style="background: #009688;">
  <div class="container-fluid">
    <div class="navbar-header">
		<a class="navbar-brand" href="#"><span style="color:#FC9C30">ADMINISTRACIÓN DE CIENCIOMÉTRICO</span></a>
    </div>

  </div>
</nav>
<div class="container">
{% if validlink %}


<form method="post">
{% csrf_token %}
<div class="form-group">
    <h3>Introduzca la nueva contraseña</h3>
		<h5>Por favor introduzca su nueva contraseña dos veces de manera que podamos verificar que la ha escrito correctamente.</h5>

{{ form.new_password1.errors }}
<label class="control-label col-sm-2"  for="id_new_password1">Nueva contraseña:</label>
    <input type="password" class="form-control" id="new_password1" placeholder="Ingrese Nueva Contraseña" name="new_password1">


{{ form.new_password2.errors }}
    <label class="control-label col-sm-2"  for="id_new_password2">Confirme contraseña:</label>
       <input type="password" class="form-control" id="new_password2" placeholder="Ingrese Nueva Contraseña" name="new_password2">

    <br>
<input type="submit" class="btn btn-primary" value="Cambiar mi contraseña" />
</div>
</form>

{% else %}

<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}


</div>
</body>
</html>