<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" style="background: #009688;">
  <div class="container-fluid">
    <div class="navbar-header">
		<a class="navbar-brand" href="#"><span style="color:#FC9C30">ADMINISTRACIÓN DE CIENCIOMÉTRICO</span></a>
    </div>

  </div>
</nav>

<div class="form-group">
    <h3><span style="color:#009688">Restablecimiento de contraseña enviado</span></h3>
		<p>Le enviamos por correo electrónico las instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.</p>
        <p> Si usted no recibe un correo electrónico, por favor, asegúrese de que ha introducido la dirección con la que se registró, y revise su carpeta de spam.</p>
		</div>


</body>
</html>
