<div class="modal-dialog modal-lg">
        <div class="modal-content">
                {% if object %}
                <form role="form" action="{% url 'parametrosLibro:modificar_parametro_libro' object.pk %}" method="post">
                        <div class="modal-header">
                            <div class="col-md-11" align="center">
                                <h5>Modificar Parámetro de Evaluación</h3>
                            </div>
                            <button type="button" class="close" data-dismiss="modal">x</button>
                        </div>
                        <div class="modal-body">
                                {% csrf_token %}
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                                {{ form.as_p}}
                                        </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <div class="col-lg-12 text-right">
                                        <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                                        <button type="button"  class="btn btn-danger" onclick="return cerrar_modal()">
                                                Cancelar
                                        </button>
                                </div>
                        </div>
                </form>
                {% else %}
                <form role="form" action="{% url 'parametrosLibro:parametro_crear_libro' %}" method="post">
                        <div class="modal-header">
                            <div class="col-md-11" align="center">
                                    <h5>Crear Parámetro de Evaluación</h3>
                            </div>
                            <button type="button" class="close" data-dismiss="modal">x</button>
                        </div>
                        <div class="modal-body">
                                {% csrf_token %}
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                                {{ form.as_p }}
                                        </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <div class="col-lg-12 text-right">
                                        <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                                        <button type="button"  class="btn btn-danger" onclick="return cerrar_modal()">
                                                Cancelar
                                        </button>
                                </div>
                        </div>
                </form>
                {% endif %}
                        
            
        </div>
</div>