{% extends 'base1/inicio.html' %}
{% load staticfiles %}
{% block title %}
    Listado de certificaciones
{% endblock%}

{% block home %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'inicio:logeo' %}">
        <i class="batch-icon batch-icon-browser-alt"></i>
        Inicio
    </a>
</li>
{% endblock %}

{% block certificacion %}
{% if user.is_superuser == True %}
<li class="nav-item">
   <a class="nav-link active" href="{% url 'certificacionadmin:certificacionadminListar' %}">
        <i class="batch-icon batch-icon-newspaper-alt"></i>
        Certificaciones admin
    </a>
</li>

{% else %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'certificacion:certificacion_listar' %}">
        <i class="batch-icon batch-icon-newspaper-alt"></i>
        Certificaciones
    </a>
</li>
{% endif %}
{% endblock %}

{% block notificacion %}
<li id="notification_li">
<a href="#" id="notificationLink">
    <i class="fa fa-bell-o"></i><span class="label label-warning" id="idnotificacion"></span>
</a>
<div id="notificationContainer">
<div id="notificationTitle">Notificaciones</div>
<div id="notificationsBody" class="notifications">
<ul>
{% if notificacionnuevasoli %}
    {% for notifinuevasoli in notificacionnuevasoli %}
    <a style="font-weight: normal; text-align: justify" onclick="return abrir_modal('{% url 'certificacionadmin:secretaria_certificado_actualizar' notifinuevasoli.id %}')"><i class="fa fa-angle-double-right"></i> El docente investigador "{{notifinuevasoli.user.first_name}}  {{notifinuevasoli.user.last_name}}" ha enviado una solicitud de certificación <p style="font-size: 10px;">{{notifinuevasoli.fecha_envio}}</p></a>
    {% endfor %}
{% else %}
    <h1 align="center">No tienes ninguna notificación de solicitudes</h1>
{% endif %}       
</ul>
</div>
<div id="notificationFooter"><a href="#">Ver todas</a></div>
</div>
</li>
{% endblock %}

{% block content %}

<div class="wow fadeInUp animated" style="background: #122f3b;  padding: 0.3cm 0cm 0cm 0cm; margin: 0cm 0.4cm 0.4cm 0.4cm; width:100%; border-radius: 12px;">
     <h2 align="center" style="color:white"><span class="glyphicon glyphicon-th-list"></span> LISTADO DE <span style="color:#F5B041;">CERTIFICADOS</span> </h2>
        </div>
    <br>
<br>
<div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-5">
                        <div class="table-responsive">
                            {% if capa %}
                             <table id="datatable-1" class="table table-datatable table-striped table-hover" style="text-align:center; ">
	<thead>
		<tr>
            <th style="vertical-align:middle;">Investigador</th>
            <th style="vertical-align:middle;">Fecha de actualización</th>
            <th style="vertical-align:middle;">Fecha de &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;envío&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <!--<th style="vertical-align:middle;">#</th>-->
            <th style="vertical-align:middle;">Asunto</th>
            <th style="vertical-align:middle;">Procesar certificado</th>
            <th style="vertical-align:middle; border-left: 2px solid #dee2e6;">Estado de vista</th>
            <th style="vertical-align:middle;">Estado del certificado</th>
            <th style="vertical-align:middle; border-right: 2px solid #dee2e6;">Nota final</th>
		</tr>

	</thead>

	<tbody id="contenido">
        {% for soli in capa %}
        <!-- Cienciometrico JavaScript -->
        <tr>
            <td style="vertical-align:middle;">{{soli.user.first_name}} {{soli.user.last_name}}  <p>{{soli.investigador.cedula}}</p></td>
            <td style="vertical-align:middle;">{{soli.fecha_actualizacion}} a las {{soli.hora_actualizacion}}</td>
            <td style="vertical-align:middle;">{{soli.fecha_envio}} a las {{soli.hora_envio}}</td>
            <!--<td style="vertical-align:middle;">{{soli.id}}</td>-->
            <td style="vertical-align:middle;">{{soli.asunto}}</td>
            <td style="vertical-align:middle;">
                <a class="btn btn btn-sm" href="{% url 'certificacionadmin:documento_certificado_listar' soli.id %}"><img src="{% static 'images/proceso.png' %}" width="40px"></a>
            </td>
            <td style="vertical-align:middle; border-left: 2px solid #dee2e6;"><label>{{soli.estado}}</label><p></p><a class="btn btn btn-sm" href="" style="border-radius: 12px;"></a></td>
            <td style="vertical-align:middle;"><label>{{soli.validar}}</label> <p></p><a class="btn btn btn-sm" href="" style="border-radius: 12px;"></a></td>
            <td style="color:#07a7e3; vertical-align:middle; border-right: 2px solid #dee2e6;">{{soli.nota}}</td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de certificados</h1>
        {% endif %}
	</tbody>
</table>

<div id="popup" class="modal fade" role="dialog">
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock%}
{% block scripts %}
<script type="text/javascript">
    function abrir_modal(url)
{
        $('#popup').load(url, function()
        {
            $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>
<script type="text/javascript">
    $(document).ready(function() {
    $('#datatable-1').DataTable( {
        "order": [[ 0, "asc" ],[ 1, "desc" ]]
    } );
} );
</script>
<script type="text/javascript">
window.onload = function estados()
{
// Obtenemos el elemento con id “contenido”
var el = document.getElementById("contenido");
// obtenemos todos los elementos con tag LABEL y A que hay dentro del elemento 'el'
var lb = el.getElementsByTagName("label");
var es = el.getElementsByTagName("a");
//posicion inicial del circulo de estado
var aux = 1;
var aux2 = 2;
// recorremos el array de elementos para cambiarles el color del estado
    for (var i=0; i<=lb.length; i++) {
        if (lb[i].innerHTML=="Enviado") {
            es[aux].style.background = '#F5B041'; // naranjao
            aux+=3;//suma de la posicion
        }
        else if (lb[i].innerHTML=="Revisado") {
            es[aux].style.background = '#16A085'; // verde
            aux+=3;//suma de la posicion
        }
        else if (lb[i].innerHTML=="None") {
            lb[i].innerHTML="En Espera";
            es[aux2].style.background = '#F5B041'; // naranja
            aux2+=3;//suma de la posicion
        }
        else if (lb[i].innerHTML=="") {
            lb[i].innerHTML="En Espera";
            es[aux2].style.background = '#F5B041'; // naranja
            aux2+=3;//suma de la posicion
        }
        else if (lb[i].innerHTML=="Aprobado") {
            es[aux2].style.background = '#16A085'; // verde
            aux2+=3;//suma de la posicion
        }
        else if (lb[i].innerHTML=="Denegado") {
            es[aux2].style.background = '#E74C3C'; // rojo
            aux2+=3;//suma de la posicion
        }
    }
};
</script>
<script type="text/javascript">
var not = document.getElementById("idnotificacion");
    {% if notificacionnuevasoli %}
    var cont = 0;
    {% for notifi in notificacionnuevasoli %}
    cont+=1;
    {% endfor %}
    {% else %}
    cont = 0;
    {% endif %}
not.innerHTML=cont;
</script>
<!-- Datatables -->
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
{% endblock %}
