.ventana{
width: 100%;
height: 100%;
color: #FFF;
position: fixed;
background-color:rgba(0,0,0,.3);
top: 0;
left: 0;
display:none;
z-index: 20;
}
.form{
width: 700px;
height: 430px;
background-color:#FFF;
color: #666;
top: 40%;
left:50%;
position: absolute;
margin-left: -350px;
margin-top: -150px;
}
.cerrar{
	color:red;
	font-weight: 900;
	text-align: right;
	margin-top: 10px;
	margin-right: 10px;
}
.lista{
    list-style: none;
    font-size: 10px;
    width: 100%;
    height: 30px;
    margin-top: 2px;
    text-align: center;
  }
.lista:hover{
    color: white;
    background: #58ACFA;
    cursor:context-menu;
    width: 100%;
    height: 30px;
    text-align: center;
  }
#response{
    width: 247px;
    overflow-y:auto;
    background-color: white; 
  }
div.data-inf{
    width: 100%;
    height: 30px; 
    position: absolute;
    left: 75px; 
    top: 205px;
} 
div.button-inf{
    float:left;
    width: 50px;
    height: 50px;
    background-color: white;
    color: white;
    border: 5px;
    display: none;
}
div#dato1{
    width: 350px;
    height: 30px; 
    font-size: 10px;
    color: white;
    float: left;
}  
div#bubble-chart{
    width: 1200px;
    height: 800px;
    margin-left: 70px;
    background-color: white;
}

.in-foto{
    width: 20px;
    height: 20px;
    border-radius:10px;
    float: left;
    margin-left: 30px;
    margin-top: 7px;
}
