{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block subtitle %}
ACTUALIZAR <span style="color:#07afea">ACTUALIZAR BDD</span>

{% endblock%}
{% block home %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'inicio:logeo' %}">
        <i class="batch-icon batch-icon-browser-alt"></i>
        Inicio
    </a>
</li>
{% endblock %}
{% block css %}
<!-- Tags Input -->
<link rel="stylesheet" href="{% static 'assets/plugins/tagsinput/bootstrap-tagsinput.min.css' %}">

<link rel="stylesheet" href="{% static 'css/multiselect.css' %}">
<!-- CSS - OPTIONAL - END -->
{% endblock %}


{% block baseDatos %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'baseDatos:Lista_bdd' %}">
        <i class="batch-icon batch-icon-database"></i>
        Base de Datos
    </a>
</li>
{% endblock %}
{% block content %}
<div class="col-md-12">

    <form method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-5">
                        {% csrf_token %}
                        <div class="card-header">
                            Actualizar información de: {{ form.BaseDatos.value }}
                        </div>
                        <div class="card-body">
                            <div class="row" id="row">
                                <div class="col-md-12" id="row">
                                    {{ form.BaseDatos.label }}
                                    {{ form.BaseDatos }}
                                    {{ form.BaseDatos.errors }}
                                </div>
                            </div>
                            <div class="row" id="row">
                                <div class="col-md-12" id="row">
                                    {{ form.Url.label }}
                                    {{ form.Url }}
                                    {{ form.Url.errors }}
                                </div>
                            </div>
                           

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                        <a class="btn btn-default" href="{% url 'Revista:lista_Revista' %}">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>

<!--                                       Modal DB                                                  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva base de datos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formDB" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Nombre de la base de datos</label>
                            <input type="text" class="form-control" name="nameBD" id="nameBD" required>
                        </div>
                        <div class="col-md-12">
                            <label>Url</label>
                            <input type="url" required class="form-control" name="Url de la base de datos" id="Url">
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" style="display:none" name="user" id="user" value="{{user.id}}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var us = $("#vEstado").val();
        if (us == 2) {

        }
    });

</script>

<script type="text/javascript">
    function cargarRegionalRev() {
        var data;
        $.ajax({
            url: '/db/index/',
            type: 'GET',
            data: data,
            success: function (data) {
                $("#base option").remove();
                $.each(data, function (index, item) {
                    console.log(item.text);
                    var newOption = "<option value='" + item.value + "'>" + item.text + "</option>";
                    $("#base").append(newOption).multiselect('rebuild');
                });
                console.log('correcto');
            },
            error: function () {
                console.log('error');
            }
        });
    }
    function cargarImpactoRev() {

        var data;
        $.ajax({
            url: '/db/cargarImpacto/',
            type: 'GET',
            data: data,
            success: function (data) {
                $("#base option").remove();
                $.each(data, function (index, item) {
                    console.log(item.text);
                    var newOption = "<option value='" + item.value + "'>" + item.text + "</option>";
                    $("#base").append(newOption).multiselect('rebuild');
                });
                console.log('correcto');
            },
            error: function () {
                console.log('error');
            }
        });
    }
    $('#base1').click(function () {
        cargarRegionalRev();
    });
    $('#base2').click(function () {
        cargarImpactoRev();
    });

    $(document).on('submit', '#formDB', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '/db/create/',
            data: {
                BaseDatos: $('#nameBD').val(),
                Url: $('#Url').val(),
                user: $('#user').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                $.each(data, function (index, item) {
                    var newOption = "<option value='" + item.value + "'>" + item.text + "</option>";
                    $("#base").append(newOption).multiselect('rebuild');

                });
                $('#Url').val('');
                $('#nameBD').val('');
                $('#exampleModal').modal('hide');
                alert("Base de datos creada");
            },
            error: function () {
                $('#Url').val('');
                $('#nameBD').val('');
                $('#exampleModal').modal('hide');
                alert('Ya existe la base de datos');
            }
        });

    });
    $(document).ready(function () {

        $('#base').multiselect({
            buttonWidth: '100%',
            buttonClass: 'btn small btn-light',
            enableFiltering: true,
            filterPlaceholder: 'Buscar',
            enableCaseInsensitiveFiltering: true,
            maxHeight: 300,
            templates: {
                filterClearBtn: '',
            }
        });
    });
</script>


{% endblock %}

{% block scripts %}
<!-- Tags Input -->
<script type="text/javascript" src="{% static 'assets/plugins/tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<!-- Tags Input -->
<script type="text/javascript" src="{% static 'assets/js/typeahead.bundle.js' %}"></script>
<!-- SCRIPTS - OPTIONAL START -->
<!-- Image Placeholder -->
<script type="text/javascript" src="{% static 'assets/js/misc/holder.min.js' %}"></script>
<!-- Form Wizard -->
<script type="text/javascript" src="{% static 'assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>

<!-- Form Validation -->
<script type="text/javascript" src="{% static 'assets/plugins/form-validator/jquery.form-validator.min.js' %}"></script>
<!-- Form Validation -->
<script type="text/javascript" src="{% static 'assets/plugins/typeahead/typeahead.bundle.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/multiselect.js' %}"></script>
{% endblock %}