{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block subtitle  %}
    MIS <span style="color:#FC9C30">titulos</span>

{% endblock%}

{% block home %}
<li class="nav-item">
    <li><a href="{% url 'inicio:logeo' %}" class="nav-link"><i class="batch-icon batch-icon-browser-alt"></i> <span>Inicio</span></a>
</li>
{% endblock %}
{% block itemForCompl %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'FormacionComplementaria:lista_Formacion_Complementaria' %}">
        <i class="batch-icon batch-icon-stamp-alt"></i>
        Título cuarto grado
    </a>
</li>

{% endblock %}
{% block content %}
	<div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-5">
						 <form method="post">
								{% csrf_token %}

						 <div class="content">
							 <div class="col-md-8 col-md-offset-2">

									<label>Tipo de Formación </label>
									<select name="Nivel_Estudios" class="browser-default" required>
										 <option value="" >---------------------Seleccione--------------------</option>
										 <option value="DIPLOMADO" >DIPLOMADO</option>
										 <option value="MAESTRIA" >MAESTRÍA</option>
										 <option value="DOCTORADO" >DOCTORADO</option>
									</select>
									</div>
							 </div>

							 <div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="form-group input-field">
										<label>Título Adquirido </label>
										<input class="form-control" type="text" name="NombreTitulo" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="form-group input-field">
										<label >Fecha Finalización</label>
										<input class="datepicker" type="date" name="Fecha_Fin" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="form-group input-field">
										<label >Centro donde culmino sus Estudios</label>
										<input class="form-control" type="text" name="Nombre_Centro_Estudios" required>
									</div>
								</div>
							</div>


								<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="form-group">
										<button type="submit"   class="btn btn-primary" >Guardar</button>
									</div>
								</div>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}