{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block home %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'inicio:logeo' %}">
        <i class="batch-icon batch-icon-browser-alt"></i>
        Inicio
    </a>
</li>
{% endblock %}


{% block revista %}
<li class="nav-item">
  <a class="nav-link active" href="{% url 'Revista:lista_Revista' %}">
    <i class="batch-icon batch-icon-paragraph-alt-justify"></i>
    Revistas
  </a>
</li>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <br><br>
    <h4>¿Desea eliminar el registro de {{object.Nombre}} ?</h4>
    <button class="btn btn-danger" type="submit">Si, eliminar</button>
    <a class="btn btn-default" href="{% url 'Revista:lista_Revista' %}">Cancelar</a>
</form>
{% endblock %}