{% extends 'base1/inicio.html' %}
{% load staticfiles %}
{% block subtitle %} 
    ACTUALIZAR <span style="color:#FC9C30">PROVINCIA</span> 
    <!-- Button trigger modal -->
{% endblock%}
{% block home %}
<li class="nav-item">
    <li><a href="{% url 'inicio:logeo' %}" class="nav-link"><i class="batch-icon batch-icon-browser-alt"></i> <span>Inicio</span></a>
</li>
{% endblock %}
{% block provincia %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'provincia:provincia_listar' %}">
        <i class="batch-icon batch-icon-star"></i>
        Provincia
    </a>
</li>
{% endblock %}
{% block extrastatic %}
<script>
        function zonapais() {
            document.getElementById("zona").innerHTML = "";
            var v=document.getElementById("pais").value;
            var option = document.createElement("option");
            option.text = "--SELECCIONE--";
            document.getElementById("zona").add(option);
            {% for z in  Zona%}
                var id_pais={{z.pais.id}}

                if(v==id_pais){

                    var op = document.createElement("option");
                    op.value = "{{z.pk}}";
                    op.text = "{{z.Nombre}}";
                    document.getElementById("zona").appendChild(op);
                }
            {% endfor %}

        }

    </script>
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-5">
                        <form method="post">
                            {% csrf_token %}
                            
                            
                        	<div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group">
                        				<label>País</label>
                                        <select class="form-control" id="pais" name="pais" onchange="zonapais()">
                                            <option>--Seleccione--</option>
                                            {% for p in  Pais%}
                                            <option value="{{ p.pk }}">{{p.Nombre}}</option>

                                            {% endfor %}
                                        </select>
                        			</div>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group">
                        				<label>Zona</label>
                                        {{ form.zona}}
                        			</div>
                        		</div>
                        	</div>
                            <div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group">
                        				<label>Nombre</label>
                        				<input class="form-control" type="text" name="Nombre" value="{{provincia.Nombre}}">
                        			</div>
                        		</div>
                        	</div>


                        	<div class="row">
                        		<div class="col-md-12">
                        			<div class="form-group">
                        				<button class="btn btn-primary "type="submit">Guardar</button>
                                        <a class="btn btn-default" href="{% url 'provincia:provincia_listar' %}">Cancelar</a>
                        			</div>
                        		</div>
                        	</div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}