{% extends 'base1/inicio.html' %}
{% load staticfiles %}
{% block subtitle %} 
    LISTADO DE <span style="color:#FC9C30">PROVINCIA</span> 
    <a href="{% url 'provincia:provincia_crear' %}" class="btn btn-primary  pull-right "><i class="glyphicon glyphicon-plus"></i> Nueva Provincia</a>
{% endblock%}
{% block home %}
<li class="nav-item">
    <li><a href="{% url 'inicio:logeo' %}" class="nav-link"><i class="batch-icon batch-icon-browser-alt"></i> <span>Inicio</span></a>
</li>
{% endblock %}
{% block provincia %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'provincia:provincia_listar' %}">
        <i class="batch-icon batch-icon-star"></i>
        Provincia
    </a>
</li>
{% endblock %}
{% block content %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 pb-5">
                            <div class="table-responsive">
                                <table id="datatable-1" class="table table-datatable table-striped table-hover">
                                	<thead>
                                		<tr>
                                			<td>#</td>
                                			<td style="text-align:left; width:25%;">Nombre</td>
                                            <td style="text-align:left; width:25%;">Zona</td>
                                			<td style="text-align:left; width:25%;">País</td>
                                			<td>Acciones</td>
                                		</tr>

                                	</thead>
                                	<tbody>
                                        {% if object_list %}
                                        {% for provincia in object_list %}
                                        <tr>
                                            <td>{{provincia.id}}</td>
                                            <td>{{provincia.Nombre}}</td>
                                            <td>{{provincia.zona.Descripcion}}</td>
                                            <td>{{provincia.pais.Nombre}}</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="{% url 'provincia:provincia_editar' provincia.id %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                                                <a class="btn btn-primary btn-sm" href="{% url 'provincia:provincia_eliminar' provincia.id %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        {% else %}
                                        <h4>No hay registros de Provincias</h4>
                                        {% endif %}

                                	</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
        

{% endblock%}
{% block scripts %}
    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script> -->
{% endblock %}