{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block subtitle  %}
    MIS <span style="color:#FC9C30">titulos</span>
    <a href="{% url 'FormacionAcademica:create_Formacion_Academica' %}" class="btn btn-primary  pull-right "><i class="glyphicon glyphicon-plus"></i> Nueva Formación Académica</a>
{% endblock%}

{% block home %}
<li class="nav-item">
    <li><a href="{% url 'inicio:logeo' %}" class="nav-link"><i class="batch-icon batch-icon-browser-alt"></i> <span>Inicio</span></a>
</li>
{% endblock %}
{% block itemForAcad %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'FormacionAcademica:lista_Formacion_Academica' %}">
        <i class="batch-icon batch-icon-stamp-alt"></i>
        Título tercer grado
    </a>
</li>
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 pb-5">
                        <div class="table-responsive">
                            {% if object_list %}
                            <table id="datatable-1" class="table table-datatable table-striped table-hover">

                            <thead>
                                <tr>
                                    <td>#</td>

                                    <td>Título obtenido</td>
                                    <td>Año de graduación</td>
                                    <td>Universidad donde se graduó</td>
                                    <td>Título de la tesis con la que se graduó</td>
                                    <td style="width: 16%">Acciones</td>
                                </tr>

                            </thead>
                            <tbody>
                                {% for i in object_list %}
                                <tr>
                                    <td>{{i.id}}</td>
                                    <td>{{i.descripcion}}</td>
                                    <td>{{i.anio}}</td>
                                    <td>{{i.nombreCentroEstudios}}</td>
                                    <td>{{i.titulo}}</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="{% url 'FormacionAcademica:update_Formacion_Academica' i.id %}" ><span class="glyphicon glyphicon-pencil"></span>Editar</a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'FormacionAcademica:delete_Formacion_Academica'  i.id %}"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>

                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                        {% else %}
                            <h4>No hay registros de Formación Académica</h4>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}

{% block scripts %}
    <!-- Datatables -->
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script> -->
{% endblock %}